<div class="mb-3 border p-2 rounded shadow">
  <div class="header">
    <div class="titulo text-uppercase">
      Nome do projeto: {{projeto?.nome}}
    </div>
    <div class="subtitulo d-flex text-lowercase">
      <span class="flex-fill text-secondary">Criado por: Gilmario</span> <span class="text-secondary">Atualizado:
      </span><span class=""> 10/02/2024 16:52:25</span>
    </div>
  </div>
  <div>
    <div class="p-2">RN concluidas: <span class="text-uppercase text-success">10</span></div>
    <div class="p-2">RN Pendentes: <span class="text-uppercase text-danger">15</span></div>
    <div class="mt-2 text-truncate">
      Descrição: Projeto referente ao cadastro de dados significatiovs asd asd asd asd asd asd asd asd asd asd asd
    </div>
  </div>
  <div class="acoes mt-3">
    <button class="btn btn-outline-primary btn-sm px-3" type="button" (click)="selecionar()">Ver</button>
    <button class="btn btn-outline-primary btn-sm px-3 mx-2" type="button" (click)="selecionar()">Detalhes</button>
  </div>
</div>