<div class="mb-3 border p-2 rounded shadow">
  <div class="header">
    <div class="titulo text-uppercase">
      <span class="text-secondary">Projeto: </span> {{projeto?.nome}}
    </div>
    <div class="subtitulo d-flex text-lowercase">
      <span class="flex-fill text-secondary">Criado por: {{projeto?.criador?.nome}}</span>
      <span class="text-secondary">Atualizado: </span>
      <span class=""> {{projeto?.dataAtualizacao| date: 'dd/MM/yyyy'}} {{projeto?.horaAtualizacao}}</span>
    </div>
  </div>
  <div>
    <div class="p-2">RN concluidas: <span class="text-uppercase text-success">0</span></div>
    <div class="p-2">RN Pendentes: <span class="text-uppercase text-danger">0</span></div>
    <div class="mt-2 text-truncate">
      Descrição: {{projeto?.descricao}}
    </div>
  </div>
  <div class="acoes mt-3">
    <button class="btn btn-outline-primary btn-sm px-3" type="button" (click)="selecionar()">Ver</button>
    <button class="btn btn-outline-primary btn-sm px-3 mx-2" type="button" (click)="selecionar()">Detalhes</button>
  </div>
</div>