<form [formGroup]="form">
  <app-cadastro [form]="form" titulo="Cadastro de Projetos" (salvarEvent)="salvar()">
    <div class="row justify-content-md-center">
      <div class="col-9 col-md-9">
        <app-layout-input label="Nome" formControlName="nome"></app-layout-input>
      </div>
      <div class="col-3 col-md-3">
        <app-layout-input label="Slug" formControlName="slug"></app-layout-input>
      </div>
      <div class="col-12 col-md-12">
        <app-layout-input label="Descrição" formControlName="descricao"></app-layout-input>
      </div>
    </div>
  </app-cadastro>
</form>