<div class="h2"> Projetos </div>
<div class="row">
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
  <div class="col-md-4">
    <app-projeto-card></app-projeto-card>
  </div>
</div>